.memory-box{

padding:20px;

background:#111827;

border-radius:15px;

color:white;

margin-top:20px;

}



.memory-box h2{

color:#00f7ff;

margin-bottom:15px;

}



.memory-box input{

width:100%;

padding:12px;

border-radius:10px;

border:none;

background:#020617;

color:white;

margin-bottom:10px;

}



.memory-box button{

padding:10px 15px;

border:none;

border-radius:10px;

background:#00f7ff;

cursor:pointer;

font-weight:bold;

}



.memory-list{

margin-top:15px;

font-size:14px;

color:#cbd5e1;

}



.clear{

margin-top:15px;

background:#ef4444 !important;

color:white;

}
