.input-area{

display:flex;

padding:20px;

background:#020617;

border-top:1px solid #1e293b;

gap:10px;

}





.input-area textarea{

flex:1;

height:60px;

resize:none;

padding:18px;

border-radius:15px;

border:none;

outline:none;

background:#111827;

color:white;

font-size:16px;

}





.input-area textarea::placeholder{

color:#64748b;

}






.input-area button{

width:65px;

border:none;

border-radius:15px;

background:#00f7ff;

color:#020617;

font-size:25px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}





.input-area button:hover{

transform:scale(1.08);

}







@media(max-width:768px){


.input-area{

padding:10px;

}



.input-area textarea{

height:50px;

}


}