.sidebar{
width:260px;
background:#111827;
height:100vh;
display:flex;
flex-direction:column;
justify-content:space-between;
padding:20px;
border-right:1px solid #1f2937;
}

.logo h1{
font-size:32px;
margin-bottom:5px;
}

.logo p{
color:#94a3b8;
font-size:14px;
}

.new-chat{
margin-top:20px;
padding:14px;
background:#2563eb;
color:white;
border:none;
border-radius:12px;
cursor:pointer;
font-size:16px;
}

.new-chat:hover{
background:#1d4ed8;
}

.menu{
margin-top:30px;
display:flex;
flex-direction:column;
gap:15px;
}

.menu-item{
padding:12px;
background:#1f2937;
border-radius:10px;
cursor:pointer;
}

.menu-item:hover{
background:#374151;
}

.footer{
color:#94a3b8;
font-size:14px;
}