.sidebar{

width:280px;

height:100vh;

background:#020617;

color:white;

display:flex;

flex-direction:column;

padding:20px;

border-right:1px solid #1e293b;

}



.logo{

text-align:center;

margin-bottom:25px;

}



.logo h1{

font-size:38px;

color:#00f7ff;

}



.logo p{

color:#94a3b8;

font-size:14px;

}






.new-chat{

padding:14px;

border:none;

border-radius:12px;

background:#00f7ff;

font-weight:bold;

font-size:16px;

cursor:pointer;

margin-bottom:20px;

}



.new-chat:hover{

transform:scale(1.03);

}






.history-title{

color:#94a3b8;

margin-bottom:10px;

font-size:14px;

}





.chat-list{

flex:1;

overflow-y:auto;

}





.chat-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:12px;

border-radius:10px;

margin-bottom:8px;

background:#111827;

cursor:pointer;

}



.chat-item:hover{

background:#1e293b;

}





.chat-item.active{

background:#0f766e;

}





.chat-item span{

overflow:hidden;

white-space:nowrap;

text-overflow:ellipsis;

}




.delete{

background:none;

border:none;

cursor:pointer;

font-size:15px;

}





.menu{

margin-top:20px;

}



.menu-item{

padding:12px;

margin-bottom:8px;

background:#111827;

border-radius:10px;

color:#cbd5e1;

}





.footer{

text-align:center;

padding-top:20px;

color:#64748b;

font-size:13px;

}






@media(max-width:768px){


.sidebar{

width:220px;

}


.logo h1{

font-size:28px;

}


}
