.voice{

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#111827;

color:#00f7ff;

font-size:25px;

cursor:pointer;

transition:.3s;

}



.voice:hover{

transform:scale(1.1);

}



.voice.active{

background:#00f7ff;

color:#020617;

box-shadow:

0 0 25px #00f7ff;

}