*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:
"Segoe UI",
Arial,
sans-serif;

}



body{

background:#020617;

overflow:hidden;

}




.app{

height:100vh;

width:100%;

display:flex;

background:

radial-gradient(
circle at top,
#0f172a,
#020617
);

color:white;

}





.main{

flex:1;

display:flex;

flex-direction:column;

height:100vh;

}






/* LOGIN SCREEN */


.login-screen{

height:100vh;

width:100%;

display:flex;

align-items:center;

justify-content:center;

background:

linear-gradient(
135deg,
#020617,
#111827,
#0f172a
);

}





.login-box{

width:380px;

padding:40px;

background:

rgba(15,23,42,.85);

border-radius:25px;

text-align:center;

border:1px solid rgba(0,247,255,.3);

box-shadow:

0 0 40px rgba(0,247,255,.15);

backdrop-filter:blur(15px);

animation:

float 3s infinite ease-in-out;

}





.login-box h1{

font-size:45px;

margin-bottom:15px;

color:#00f7ff;

text-shadow:

0 0 20px #00f7ff;

}





.login-box p{

color:#94a3b8;

margin-bottom:20px;

}





.login-box input{

width:100%;

padding:15px;

border:none;

outline:none;

border-radius:12px;

background:#020617;

border:1px solid #334155;

color:white;

font-size:17px;

margin-bottom:20px;

}





.login-box button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#00f7ff;

color:#020617;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}





.login-box button:hover{

transform:scale(1.05);

box-shadow:

0 0 25px #00f7ff;

}





.error{

display:block;

margin-top:15px;

color:#ef4444;

font-weight:bold;

}






/* SCROLLBAR */


::-webkit-scrollbar{

width:8px;

}



::-webkit-scrollbar-track{

background:#020617;

}



::-webkit-scrollbar-thumb{

background:#00f7ff;

border-radius:20px;

}






/* ANIMATION */


@keyframes float{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-10px);

}


100%{

transform:translateY(0);

}


}






@media(max-width:768px){


.app{

flex-direction:column;

}



.main{

height:calc(100vh - 200px);

}



.login-box{

width:90%;

padding:30px;

}



}